*{
    padding: 0;
    margin: 0;
}
.disc{
    background-color:black;
}
main{
    margin: 10px;
    margin-top: 20px;
    margin-left: 355px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    display: grid;
    place-content: center;
}
body{
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
}
th{
    padding: 5px;
    background-color: #cccccc;
}

td{
    padding:5px;
    /* background-color: #cccccc; */
    font-size: large;
    width: 10px;
    height: 5px;
}
/*
tr:hover{
    text-decoration: underline;
    background: black;
    color:white
}*/
table{
    width: 600px;
}

table tr:nth-child(even) {
    background: grey;
}

th, td{
    padding: 7px 10px 10px 10px;
}

th{
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid black;
    border-top: 1px solid #999;
    text-align: left;
}
input{
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
}
input::placeholder{
    padding-left: 10px;
    font-size: 16px;
    font-style: italic;
}